body {
    background: #000;
    color: #fff;
    padding: 25px;
    font-family: sans-serif;
    background-image: url('https://t4.ftcdn.net/jpg/03/48/99/29/360_F_348992988_pJNvuZTs2iqvJt3Xu2EgHzWr69T2WuhB.jpg')
    }
button{
    border-radius: 50px;
    padding: 10px 20px;
}
  .heading{
    background: rgb(160, 130, 81);  
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
#quest{
    background-color: rgb(160, 130, 81);
}
  